@media screen and (max-width: 900px) 
{
   .gameContainer{
        flex-wrap: wrap;
   }
   .gameInfo{
        margin-top: 34px;
   }
   .gameInfo h1{
        font-size: 2rem;
   }
   .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
   }
}