@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}

body{
    background-color: #e6b7e6;
}

main{
    margin-bottom: 5.8rem;
}

h3{
    padding: 20px;
}

footer{
   text-align: center;
   background-color: black;
   color: #e5c7e5;
}

.footer-text{
    font-family: monospace;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{ 
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(242, 234, 250);
}

.info{
    font-size: 34px;
}

.gameInfo{
    padding: 0 100px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1{
    font-size: 2rem;
}

.imgbox img{
    width: 0;
    transition: 1s ease-in-out;
}

#reset {
    margin: 0 23px;
    padding: 6px 14px;
    background: #e5c7e5;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 15px;
    font-weight: bolder;
}

.line{
    background-color: black;
    width: 0; 
    height: 3px;
    position: absolute;
    border-color: #911d91;
    transition: width 1s ease-in-out;
}